---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BlogCard from "../components/BlogCard.astro";
import Cta from "../components/Cta.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
---

<Layout title="ブログ">
  <Hero title="ブログ" imgSrc="/images/other/blog.png" />
  <BreadCrumb />
  <section class="blogIndex">
    <h1 class="title">新着一覧</h1>
    <ul class="blogList">
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample01.png"
        category="カテゴリ1"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample02.png"
        category="カテゴリ2"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample03.png"
        category="カテゴリ3"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample01.png"
        category="カテゴリ1"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample02.png"
        category="カテゴリ2"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample03.png"
        category="カテゴリ3"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample01.png"
        category="カテゴリ1"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample02.png"
        category="カテゴリ2"
      />
      <BlogCard
        title="ブログタイトルテキストテキストテキストテキスト"
        date="2021-01-01"
        description="記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
        imgSrc="/images/home/sample03.png"
        category="カテゴリ3"
      />
    </ul>
    <div class="pagenation">
      <ul>
        <li>
          <a href="#" class="pagenationItemActive">1</a>
        </li>
        <li>
          <a href="#" class="pagenationItem">2</a>
        </li>
        <li>
          <a href="#" class="pagenationItem">3</a>
        </li>
        <li>
          <span>...</span>
        </li>
        <li>
          <a href="#" class="pagenationItem">5</a>
        </li>
      </ul>
    </div>
  </section>
  <Cta />
</Layout>

<style lang="scss">
  section {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr 90% 1fr;
    }
  }
  section > * {
    grid-column: 2;
  }
  .title {
    font-size: fluid(18, 36, 320, 767);
    font-weight: bold;
    margin-top: 58px;
    text-align: center;
  }
  .blogList {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 93px;
    @media only screen and (max-width: 1000px) {
      gap: 40px;
    }
  }
  .pagenation ul {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 16px;
    padding-bottom: 80px;
  }
  .pagenationItem {
    padding: 16px;
    border: 1px solid;
  }
  .pagenationItemActive {
    padding: 16px;
    border: 1px solid;
    background: #1b224c;
    color: white;
  }
</style>
