---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Cta from "../components/Cta.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
---

<Layout title="お知らせ">
  <Hero title="お知らせ" imgSrc="/images/other/news.png" />
  <BreadCrumb />
  <section class="news-index">
    <h1 class="title">お知らせ一覧</h1>
    <ul>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
      <li class="news-index-item">
        <time datetime="2020-12-30">2020-12-30</time>
        <p class="news-title">
          お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </li>
    </ul>
    <div class="pagenation">
      <ul>
        <li>
          <a href="#" class="pagenationItemActive">1</a>
        </li>
        <li>
          <a href="#" class="pagenationItem">2</a>
        </li>
        <li>
          <a href="#" class="pagenationItem">3</a>
        </li>
        <li>
          <span>...</span>
        </li>
        <li>
          <a href="#" class="pagenationItem">5</a>
        </li>
      </ul>
    </div>
  </section>
  <Cta />
</Layout>

<style lang="scss">
  section {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr 90% 1fr;
    }
  }
  section > * {
    grid-column: 2;
  }
  .title {
    font-size: fluid(24, 32, 320, 767);
    font-weight: bold;
    margin-top: 58px;
    text-align: center;
  }
  ul {
    margin-top: 45px;
    padding: 0;
  }
  .news-index-item {
    display: flex;
    align-items: center;
    border-top: solid 1px $c-sub-news;
    padding: 23px 0;
  }
  .news-index-item:last-child {
    border-bottom: solid 1px $c-sub-news;
  }
  time {
    display: block;
    font-size: 16px;
    width: 136px;
    @media only screen and (max-width: 787px) {
      width: calc(136px * 0.8);
      font-size: calc(16px * 0.8);
    }
  }
  .news-title {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    @media only screen and (max-width: 787px) {
      font-size: calc(16px * 0.8);
    }
  }
  .pagenation ul {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 16px;
    padding-bottom: 80px;
  }
  .pagenationItem {
    padding: 16px;
    border: 1px solid;
  }
  .pagenationItemActive {
    padding: 16px;
    border: 1px solid;
    background: $c-main;
    color: $c-background;
  }
</style>
