---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import PricingStructure from "../components/PricingStructure.astro";
import PriceList from "../components/PriceList.astro";
---

<Layout title="料金体系">
  <main>
    <Hero title="コース・料金" imgSrc="/images/other/plan.png" />
    <PricingStructure />
    <PriceList />
  </main>

  <style>
    main {
      width: 100%;
    }
  </style>
</Layout>
