---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<button>
  <a href="/contact">お問い合わせ</a>
</button>
<style>
  button {
    width: 142px;
    height: 50px;
    background-color: #1b224c;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  /* button:hover {
    background-color: #000;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #000;
  } */
</style>
