---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<button>
  <a href="/contact">お問い合わせ</a>
</button>
<style>
  button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background-color: #000;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #000;
  }
</style>
