---
const { href, title, body, class } = Astro.props;
---
<button class:list={["button", Astro.props.class]}>
  <a href="/contact">{title}</a>
</button>

<style lang="scss">
  button {
    width: 142px;
    height: 50px;
    color: $c-background;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .accent {
    background-color: $c-accent;

  }
  .main {
    background-color: $c-main;
  }
</style>
