---
import ButtonRadius from "./ButtonRadius.astro";
const { href, title, body } = Astro.props;
---

<section class="cta">
  <div class="bgImage">
    <img src="/images/home/cta.png" />
    <div class="content">
      <p class="title">まずは無料で資料請求から</p>
      <ButtonRadius class="cta" title="資料請求" />
      <p class="contact"><a href="contact"> お問い合わせ</a></p>
    </div>
  </div>
  <address class="onlyText">
    <p class="left">お電話でのお問い合わせはこちら</p>
    <p class="center">0123-456-7890</p>
    <p class="right">平日 08:00~20:00</p>
  </address>
</section>

<style lang="scss">
  .bgImage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 256px;
  }
  .bgImage img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .content {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    position: relative;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $c-background;
  }
  .title {
    margin-top: 70px;
    margin-bottom: 29px;
    font-size: fluid(18, 32, 320, 767);
    font-weight: bold;
  }
  .contact {
    margin-top: 22px;
    text-decoration: underline;
  }
  .onlyText {
    width: 100%;
    height: 80px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr fluid(200, 280, 788, 1000) 1fr;
    align-items: end;
    justify-content: center;
    gap: 20px;
    @media only screen and (max-width: 767px) {
      padding-top: 25px;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 10px;
    }
  }
  .left {
    font-weight: bold;
    justify-self: end;
    @media only screen and (max-width: 767px) {
      justify-self: center;
    }
  }
  .center {
    margin-left: 10px;
    font-size: fluid(24, 36, 788, 1000);
    font-weight: bold;
    line-height: 1;
    @media only screen and (max-width: 767px) {
      justify-self: center;
    }
  }
  .right {
    @media only screen and (max-width: 767px) {
      justify-self: center;
    }
  }
</style>
