---
import Button from "./Button.astro";
import NavButton from "./NavButton.astro";
---

<header class="header">
  <h1 class="logo">
    <a href="/index.html">
      <img src="/images/home/logo@2x.png" />
    </a>
  </h1>
  <nav class="gnav">
    <ul>
      <li>
        <a href="/index.html">ホーム</a>
      </li>
      <li>
        <a href="/newsIndex.html">お知らせ</a>
      </li>
      <li>
        <a href="/blogIndex.html">ブログ</a>
      </li>
      <li>
        <a href="/price.html">コース・料金</a>
      </li>
    </ul>
    <div class="right">
      <address>
        <p class="small"><small>平日08:00〜20:00</small></p>
        <p class="call">
          <img src="images/home/tell.svg" alt="" />
          <span>0123-456-7890</span>
        </p>
      </address>
      <Button title="資料請求" class="accent" />
      <Button title="お問い合わせ" class="main" />
    </div>
  </nav>
  <NavButton />
</header>

<style lang="scss">
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $c-background;
    padding-left: 15px;
    padding-right: 10px;
    width: 100%;
    height: 80px;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    @media only screen and (max-width: 1000px) {
      padding-inline: 16px;
    }
  }
  .gnav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .right {
    display: flex;
    gap: 10px;
  }
  .logo {
    width: 136px;
  }
  .call {
    margin-top: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
  }
  .gnav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-inline: 0;
    gap: 28px;
    font-weight: bold;
  }

  @media (max-width: 1000px) {
    .gnav {
      display: none;
    }
  }
</style>

<style lang="scss">
  address {
    text-align: right;
    margin-right: 13px;
  }
  .small {
    margin-top: 6px;
    line-height: 1.5;
  }
  address .call {
    margin-top: 5px;
  }
  .call img {
    width: 10px;
    height: 15px;
  }
</style>
