---
---

<section class="topAbout">
  <div class="container">
    <h2 class="title">TOEFL学習でこんな悩みありませんか？</h2>
    <ul>
      <li>
        勉強の習慣が
        <br />
        身についていない
      </li>
      <li>
        勉強しているはず
        <br />
        なのに点数が伸びない
      </li>
      <li>
        正しい勉強方法が
        <br />
        わからない
      </li>
    </ul>
    <div class="white">
      <div class="white-container">
        <p class="white-title">
          Engressは
          <br />
          <span class="orange">TOEFLに特化したスクール</span>
          です
        </p>
        <p>
          完全オーダーメイドで、１人１人の悩みに合わせた最適な指導で
          <br />
          TOEFLの苦手分野を克服します。
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  section {
    background-color: #1b224c;
    color: white;
    width: 100%;
    height: 604px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .container {
    width: 900px;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
  .white {
    height: 248px;
    background-color: white;
    color: #1b224c;
    padding: 10px 20px;
  }
  .white-container {
    height: 100%;
    border: #1b224c solid 4px;
  }
  .white-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .orange {
    text-decoration: underline orange;
  }
</style>
