---
---

<section class="topAbout">
  <h2 class="title">
    TOEFL学習で
    <br class="only-mb" />
    こんな悩みありませんか？
  </h2>
  <ul>
    <li>
      勉強の習慣が
      <br class="only-pc" />
      身についていない
    </li>
    <li>
      勉強しているはず
      <br class="only-pc" />
      なのに点数が伸びない
    </li>
    <li>
      正しい勉強方法が
      <br class="only-pc" />
      わからない
    </li>
  </ul>
  <div class="white">
    <div class="white-container">
      <p class="white-title">
        Engressは
        <br />
        <span class="orange">TOEFLに特化したスクール</span>
        <span class="ml">です</span>
      </p>
      <p class="white-desc">
        完全オーダーメイドで、
        <br class="only-mb" />
        １人１人の悩みに合わせた最適な指導で
        <br />
        TOEFLの苦手分野を克服します。
      </p>
    </div>
  </div>
</section>
<style lang="scss">
  section {
    background-color: $c-main;
    color: $c-background;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr 90% 1fr;
    }
  }
  section > * {
    grid-column: 2;
    @media only screen and (max-width: 767px) {
      grid-column: 1 / 4;
    }
  }
  .title {
    font-size: fluid(18, 36, 320, 767);
    font-weight: bold;
    margin-top: 63px;
    line-height: 1.5;
  }
  .only-mb {
    display: none;
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
  .only-pc {
    display: block;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
  }
  li {
    font-size: 18px;
    font-size: fluid(12, 18, 320, 767);
    line-height: 2;
  }
  li:first-child {
    margin-right: 27px;
  }
  ul li + li {
    margin-left: 30px;
  }
  @media only screen and (max-width: 767px) {
    ul {
      flex-direction: column;
      margin-top: fluid(16, 32, 320, 767);
    }
    li:first-child {
      margin-right: 0px;
    }
    ul li + li {
      margin-left: 0px;
    }
  }

  .white {
    margin-top: 83px;
    margin-bottom: 54px;
    height: 248px;
    background-color: $c-background;
    color: $c-main;
    padding: 11px 16px;
  }
  @media only screen and (max-width: 767px) {
    .white {
      height: auto;
      margin-top: fluid(24, 48, 320, 767);
    }
    .white-desc {
      margin-bottom: 10px;
    }
  }
  .white-container {
    height: 100%;
    border: $c-main solid 4px;
  }
  .ml {
    margin-left: -0.6rem;
  }
  .white-title {
    font-size: fluid(16, 36, 320, 767);
    font-weight: bold;
    line-height: 1.5;
    margin-top: 8px;
  }
  .orange {
    text-decoration: underline $c-accent;
    text-decoration-thickness: 8px;
    text-underline-offset: -5px;
    text-decoration-skip-ink: none;
  }
  .white-desc {
    font-size: fluid(12, 18, 320, 767);
    line-height: 2;
    margin-top: 17px;
  }
</style>
