---
import ButtonRadius from "./ButtonRadius.astro";
const { href, title, body } = Astro.props;
---

<section class="topHero">
  <img src="/images/home/fv.png" />
  <div class="content">
    <p class="title">TOEFL対策はEngress</p>
    <p class="desc">
      日本人へのTOEFL指導歴豊かな講師陣の
      <br />
      コーチング型TOEFLスクール
    </p>
    <ButtonRadius class="hero" title="資料請求" />
    <p class="contact"><a href="/contact.html"> お問い合わせ</a></p>
  </div>
</section>

<style lang="scss">
  .topHero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 476px;
    @media only screen and (max-width: 767px) {
      // grid-template-rows: 400px;
    }
  }
  .topHero img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    @media only screen and (max-width: 767px) {
      object-fit: none;
      object-position: 73% 100%;
    }
  }
  .content {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $c-background;
    margin-top: 116px;
    font-size: 18px;
    font-size: fluid(12, 18, 320, 767);
  }
  .title {
    font-size: fluid(24, 48, 320, 767);
    font-weight: bold;
  }
  .desc {
    margin-top: 28px;
    line-height: 1.8;
    margin-bottom: 40px;
  }
  .contact {
    margin-top: 22px;
    font-size: fluid(12, 16, 320, 767);
    text-decoration: underline;
  }
</style>
