---
import BlogList from "./BlogList.astro";
---

<section class="news">
  <div class="container">
    <div class="blogIndex">
      <h2 class="title">ブログ</h2>
      <BlogList />
    </div>
    <div class="newsIndex">
      <h2 class="title">お知らせ</h2>
      <ul class="newsList">
        <li class="newsCard">
          <p class="newstitle">2021年のスケジュールについて</p>
          <time class="newsDate">2020-12-01</time>
        </li>
        <li class="newsCard">
          <p class="newstitle">11月休校日のお知らせ</p>
          <time class="newsDate">2019-11-02</time>
        </li>
        <li class="newsCard">
          <p class="newstitle">10月休校日のお知らせ</p>
          <time class="newsDate">2020-10-01</time>
        </li>
      </ul>
    </div>
  </div>
</section>
<style lang="scss">
  section {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 430px 400px 1fr;
    gap: 70px;
    margin-bottom: 120px;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr 90% 1fr;
    }
  }
  section > * {
    grid-column: 2;
  }
  .container {
    display: grid;
    grid-template-columns: 430px 400px;
    gap: 70px;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 55% 45%;
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .blogIndex {
    grid-column: 1;
    @media only screen and (max-width: 767px) {
      justify-self: center;
    }
  }
  .newsIndex {
    grid-column: 2;
    @media only screen and (max-width: 767px) {
      grid-column: 1;
      justify-self: center;
    }
  }
  .title {
    margin-top: 90px;
    font-size: fluid(18, 36, 320, 767);
    font-weight: bold;
    text-align: left;
    @media only screen and (max-width: 767px) {
      text-align: center;
      margin-top: 45px;
    }
  }

  .newsList {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: left;
  }
  .newsCard {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    gap: 16px;
  }
  .newstitle {
    font-size: 16px;
    text-decoration: underline;
  }
  .newsDate {
    font-size: 12px;
  }
</style>
