---
---

<section class="topProcess">
  <div class="container">
    <h2 class="title">ご利用の流れ</h2>
    <ul>
      <li>
        <div class="number">
          <span>01</span>
        </div>
        <h3 class="card-title">お問い合わせ</h3>
        <p class="card-desc">
          まずはフォームまたはお電話からお申し込みください。
        </p>
      </li>
      <li>
        <div class="number">
          <span>02</span>
        </div>
        <h3 class="card-title">ヒアリング</h3>
        <p class="card-desc">
          現在の学習状況やTOEFLスコア、目標のスコアをお聞きします。
        </p>
      </li>
      <li>
        <div class="number">
          <span>03</span>
        </div>
        <h3 class="card-title">学習プランのご提供</h3>
        <p class="card-desc">
          目標達成のために最適な学習プランをご提案致します。
        </p>
      </li>
      <li>
        <div class="number">
          <span>04</span>
        </div>
        <h3 class="card-title">ご入会</h3>
        <p class="card-desc">お申込み完了後、レッスンがスタートします。</p>
      </li>
    </ul>
  </div>
</section>

<style>
  section {
    background: white;
    color: #1b224c;
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
  }
  .container {
    width: 900px;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 80px 0 40px 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  li {
    display: grid;
    grid-template-columns: 10% 30% 60%;
    background-color: #f8f8f8;
    align-items: center;
  }
  .number {
    background-color: #f5a623;
    color: white;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-title {
    width: 214px;
    font-weight: bold;
    border-right: solid 1px #c3c3c3;
  }
</style>
