---
---

<section class="topSuccess">
  <div class="container">
    <h2 class="title">TOEFL成功事例</h2>
    <ul>
      <li>
        <div class="title">
          TOEFL iBT 100点を突破してコロンビア大学大学院に進学できました!
        </div>
        <div class="bgWhite">
          <img src="/images/home/model01.png" alt="" />
        </div>
        <p class="tag">会社員</p>
        <p class="name">T.Fujiyamaさん</p>
        <p class="caption">3ヶ月でTOEFL80→108点</p>
      </li>
      <li>
        <div class="title">
          半年でTOEFL 40点→100点を達成!コロンビア大学大学院に合格
        </div>
        <div class="bgWhite">
          <img src="/images/home/model02.png" alt="" />
        </div>
        <p class="tag">大学生</p>
        <p class="name">Y.Takiyamaさん</p>
        <p class="caption">6ヶ月でTOEFL40→100点</p>
      </li>
      <li>
        <div class="title">
          早稲田大学 国際教養学部AO入試合格!TOEFL iBT 109点
        </div>
        <div class="bgWhite">
          <img src="/images/home/model03.png" alt="" />
        </div>
        <p class="tag">高校生</p>
        <p class="name">M.Yamadaさん</p>
        <p class="caption">5ヶ月でTOEFL68→109点</p>
      </li>
    </ul>
  </div>
</section>

<style>
  section {
    background: #1b224c;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 60px;
  }
  .container {
    width: 900px;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  ul {
    margin-top: 137px;
    display: flex;
    gap: 32px;
  }
  li {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 49px 171px 32px 32px;
    gap: 16px;
  }
  .title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
  }
  .bgWhite {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  img {
    width: 125px;
    height: 140px;
    object-fit: cover;
  }
  img::after {
    content: "";
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .tag {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
    padding: 2px;
    background-color: white;
    color: #1b224c;
  }
  .name {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
    padding: 2px;
    background-color: white;
    color: #1b224c;
  }
  .caption {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    margin: 0;
    padding: 2px;
    background-color: white;
    color: #1b224c;
  }
</style>
